<h1>Editing rule</h1>

<% form_for(@rule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :item_rule %><br />
    <%= f.text_field :item_rule %>
  </p>
  <p>
    <%= f.label :product_name_rule %><br />
    <%= f.text_field :product_name_rule %>
  </p>
  <p>
    <%= f.label :price_rule %><br />
    <%= f.text_field :price_rule %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @rule %> |
<%= link_to 'Back', rules_path %>
